@import "../../style/variables.scss";

.about {
  @include justifyCenterTwo;
  width: 100%;

  .wrapper {
    @include flexColumn;
    width: 1600px;

    .block {
      @include flexColumn;
      margin-top: 128px;

      .title {
        font-size: 49px;
      }

      .path {
        margin-top: 16px;
        font-size: 12px;
        line-height: 1.17;
        color: $grey-2;
      }
    }

    .contents {
      width: 100%;
      height: 776px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      margin-top: 137px;

      .content {
        @include justifyCenterTwo;
        align-items: flex-end;
        background-color: $grey-3;
        padding-bottom: 62px;

        .btn {
          @include flexCenter;
          width: 35%;
          height: 76px;
          background-color: black;
          line-height: 1.19;
          color: white;
          cursor: pointer;
        }
      }
    }

    .intro {
      margin-top: 129px;
      width: 100%;
      height: 104px;
      font-size: 30px;
      line-height: 1.33;
      color: black;
    }

    .explains {
      margin-top: 121px;
      margin-bottom: 126px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      column-gap: 41px;

      .explain {
        @include flexColumn;
        width: 100%;

        .title {
          font-size: 25px;
          font-weight: bold;
          line-height: 1.44;
        }

        .context {
          height: 150px;
          margin-top: 19px;
          line-height: 1.88;
          color: $grey-3;
        }
      }
    }
  }
}
