#root .shop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .shop > .wrapper {
  max-width: 1600px;
  width: 100%;
}

#root .shop > .wrapper > .title {
  margin-top: 128px;
}

#root .shop > .wrapper > .title .context {
  font-size: 49px;
}

#root .shop > .wrapper > .title .path {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.17;
  color: #767676;
}

#root .shop > .wrapper .main {
  width: 100%;
  margin-top: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 38.4px;
          column-gap: 38.4px;
}

#root .shop > .wrapper .main .aside {
  width: 369.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .shop > .wrapper .main .aside .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 56px;
}

#root .shop > .wrapper .main .aside .block .varietys {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .shop > .wrapper .main .aside .block .varietys > .title {
  position: relative;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#root .shop > .wrapper .main .aside .block .varietys > .title .context {
  position: absolute;
  left: 0px;
  font-size: 20px;
  line-height: 1.15;
}

#root .shop > .wrapper .main .aside .block .varietys > .title .icon {
  position: absolute;
  right: 0px;
}

#root .shop > .wrapper .main .aside .block .varietys .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  border-bottom: solid 1px #f0f0f0;
  margin-top: 27px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#root .shop > .wrapper .main .aside .block .varietys .item > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
}

#root .shop > .wrapper .main .aside .block .varietys .item > .content .color {
  margin-right: 10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

#root .shop > .wrapper .main .aside .block .varietys .item > .content .context {
  line-height: 1.88;
  color: #767676;
}

#root .shop > .wrapper .main .aside .block .varietys .item .plus-icon {
  position: absolute;
  right: 0px;
}

#root .shop > .wrapper .main .aside .block .varietys .item .plus-icon > img {
  width: 16px;
}

#root .shop > .wrapper .main .section {
  width: calc(100% - 408px);
}

#root .shop > .wrapper .main .section .sort {
  width: 100%;
  height: 36px;
  position: relative;
}

#root .shop > .wrapper .main .section .sort .sort-style {
  position: absolute;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

#root .shop > .wrapper .main .section .sort .sort-style > div {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

#root .shop > .wrapper .main .section .sort .selection {
  -webkit-column-gap: 40px;
          column-gap: 40px;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: NanumGothic;
  line-height: 1.88;
  color: #767676;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by .selection-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #f0f0f0;
  width: 239px;
  height: 36px;
  cursor: pointer;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by .selection-box .kinds {
  position: absolute;
  left: 21px;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by .selection-box > .icon {
  position: absolute;
  right: 18px;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by .big-size {
  width: 239px;
  height: 36px;
}

#root .shop > .wrapper .main .section .sort .selection .sort-by .small-size {
  width: 139px;
  height: 36px;
}

#root .shop > .wrapper .main .section > .items {
  margin-top: 60px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 55px;
}

#root .shop > .wrapper .main .section > .items .item {
  width: 100%;
}

#root .shop > .wrapper .main .section > .items .item .img-box {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 370px;
  background-color: #d8d8d8;
  overflow: hidden;
}

#root .shop > .wrapper .main .section > .items .item .img-box .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  height: 35px;
  background-color: black;
  font-size: 14px;
  color: white;
}

#root .shop > .wrapper .main .section > .items .item .img-box .options {
  width: 100%;
  height: 156px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 26px 24px 27px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root .shop > .wrapper .main .section > .items .item .img-box .options .lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#root .shop > .wrapper .main .section > .items .item .img-box .options .lists .wish-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  line-height: 1.19;
  color: #767676;
  cursor: pointer;
}

#root .shop > .wrapper .main .section > .items .item .img-box .options .lists .compare {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  line-height: 1.19;
  color: #767676;
  cursor: pointer;
}

#root .shop > .wrapper .main .section > .items .item .img-box .options .lists .add-cart {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  line-height: 1.19;
  cursor: pointer;
}

#root .shop > .wrapper .main .section > .items .item .img-box .open-option {
  bottom: 0px;
}

#root .shop > .wrapper .main .section > .items .item .img-box .close-option {
  bottom: -156px;
}

#root .shop > .wrapper .main .section > .items .item > .context {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .shop > .wrapper .main .section > .items .item > .context .title {
  font-size: 20px;
  line-height: 1.15;
}

#root .shop > .wrapper .main .section > .items .item > .context .price {
  line-height: 1.88;
  color: #767676;
}

#root .shop > .wrapper .main .section > .items .item .detail {
  margin-top: 22px;
  color: #767676;
}

#root .shop > .wrapper .main .section .nav {
  margin-top: 55px;
  margin-bottom: 140px;
  width: 100%;
  height: 36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .shop > .wrapper .main .section .nav .moving-pages {
  position: absolute;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

#root .shop > .wrapper .main .section .nav .moving-pages .moving-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border: solid 1px #f0f0f0;
  font-size: 14px;
  line-height: 1.14;
  color: #767676;
  cursor: pointer;
}

#root .shop > .wrapper .main .section .nav .moving-pages .more {
  height: 16px;
  margin-left: 10px;
  margin-right: 7px;
}

#root .shop > .wrapper .main .section .nav .moving-pages .open-page {
  background-color: black;
  color: white;
}

#root .shop > .wrapper .main .section .nav .page-info {
  position: absolute;
  right: 0px;
  font-size: 14px;
  line-height: 2.14;
  color: #767676;
}
/*# sourceMappingURL=index.css.map */