@import "../../styles//variables.scss";

.main {
  height: 5000px;

  .vsual {
    @include flexCenter;
    @include defaultWidth;
    background-color: $grey-4;

    .vsualBox {
      position: relative;
      width: 1600px;
      height: 597px;

      .line {
        position: absolute;
        display: flex;
        top: 238px;
        left: 180px;

        .line01 {
          margin-top: 10px;
          font-size: 10px;
          font-weight: bold;
        }

        .lineW {
          width: 2px;
          height: 120px;
          margin: 0 0 0 8px;
          padding: 0 0 90px;
          background-color: #fff;

          .lineB {
            width: 2px;
            height: 30px;
            background-color: black;
          }
        }
      }

      .vsualTxtBox {
        position: absolute;
        top: 151px;
        left: 292px;

        .vsualTxt {
          margin-bottom: 54px;
          font-size: 49px;
          font-weight: bold;
        }

        p {
          margin-bottom: 65px;
          color: rgb(98, 96, 96);

          .percent {
            color: black;
          }
        }
      }
    }
  }

  .mainNav {
    @include flexCenter;
    min-width: 1200px;
    margin-bottom: 140px;
    border: solid 1px $grey-4;

    .mainNavWrap {
      @include flexBetween;
      width: 1600px;
      height: 80px;
      background-color: #fff;

      .txtWrap {
        display: flex;
        align-items: center;

        img {
          margin-right: 12px;
        }
      }
    }
  }
  .saleContents {
    @include flexCenter;
    width: 100%;

    .saleContentsWrap {
      display: flex;
      margin-bottom: 131px;

      .saleLeft {
        width: 780px;
        height: 780px;
        margin-right: 40px;
        padding: 274px 442px 271px 50px;

        .txtSize {
          margin-bottom: 43px;
        }
        p {
          margin-bottom: 51px;
        }
      }
      .column {
        div:not(:last-of-type) {
          margin-bottom: 40px;
        }
        .saleColumn {
          width: 780px;
          height: 370px;
          padding: 69px 417px 66px 50px;
        }

        .txtSize {
          margin-bottom: 38px;
        }
        p {
          margin-bottom: 40px;
        }
      }
    }
  }

  .newArrivals {
    @include defaultWidth;
    @include flexCenter;
    .newWrap {
      width: 1600px;
      .newTxt {
        @include flexBetween;
        margin-bottom: 51px;
        .newTit {
          font-size: 39px;
        }
        .viewAll {
          font-size: 16px;
          font-weight: bold;
          color: #69b2d3;
          margin-top: 29px;
        }
      }
    }
  }
  .newBoxItem {
    @include flexCenter;
    @include defaultWidth;

    .newBoxWrap {
      width: 1600px;

      .newBox {
        position: relative;
        width: 370px;
        height: 370px;
        margin-bottom: 26px;
        background-color: $grey-4;

        .newBtn {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 92px;
          height: 35px;
          padding: 10px 30px 9px 32px;
          background-color: #262626;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
        }

        .inner {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .newProductTxt {
    .newProductFlex {
      @include flexBetween;
      width: 370px;

      .newProductName {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .newProductColor {
      margin-top: 22px;
    }
  }
}
