@import "../../../../styles/variables.scss";

.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $grey-3;
  padding-left: 50px;

  & > .title {
    font-size: 39px;
    line-height: 1.15;
    color: white;
  }

  & > .context {
    display: flex;
    align-items: center;
    margin-top: 43px;
    line-height: 1.19;
    color: rgba(255, 255, 255, 0.71);

    & > .percents {
      font-size: 40px;
      line-height: 1.15;
      color: white;
      margin-left: 8px;
      margin-right: 5px;
    }
  }

  .shop-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 50px;
    background-color: white;
    cursor: pointer;
  }
}

.left {
  .sale {
    height: 100%;
  }
}

.right {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}
