@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin defaultWidth {
  width: 1600px;
  margin: auto;
}

@mixin smallFont($fontSize) {
  font-size: 14px;
}

@mixin MediumFont($fontSize) {
  font-size: 14px;
}
