@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter2 {
  display: flex;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin defaultWidth {
  width: 100%;
  min-width: 1200px;
}

$mainGray: #d8d8d8;
