@import "../../style/variables.scss";
//전체 영역 지정
.home {
  @include flexColumn; //요소들을 다 수직으로 배치
  //배너 영역 시작
  .banner {
    @include flexCenter;
    width: 100%;
    height: 597px;
    background-color: $grey-4;

    .wrapper {
      @include flexCenterTwo;
      @include maxWidth;

      .gauge {
        display: flex;
        column-gap: 8px;

        .level {
          font-size: 10px;
          line-height: 1.1;
        }

        .main {
          width: 2px;
          height: 120px;
          background-color: white;

          .black {
            width: 2px;
            height: 25%;
            background-color: black;
          }
        }
      }

      .sale {
        @include flexColumn;
        margin-left: 110px;

        .title {
          font-size: 49px;
          line-height: 1.14;
        }

        .context {
          display: flex;
          align-items: center;
          margin-top: 40px;
          line-height: 1.19;
          color: $grey-1;

          .percents {
            margin: 0 5px 0 8px;
            font-size: 40px;
            line-height: 1.15;
            color: black;
          }
        }

        .shop-btn {
          @include flexCenter;
          width: 185px;
          height: 50px;
          margin-top: 52px;
          background-color: black;
          font-size: 14px;
          line-height: 1.14;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  //
  //리퍼 영역 시작
  .refer {
    @include justifyCenterTwo;
    width: 100%;
    border-bottom: solid 1px #f0f0f0;

    .wrapper {
      @include flexBetween;
      @include maxWidth;
      position: relative;

      .block {
        @include flexCenterTwo;
        height: 80px;
        gap: 12px;

        .icon {
          width: 24px;
          height: 24px;
        }

        .context {
          line-height: 1.19;
          color: $grey-1;
        }
      }
    }
  }
  //
  //세일 영역 (가운데 컨텐츠부분)
  .sales {
    @include justifyCenterTwo;
    width: 100%;

    .wrapper {
      @include maxWidth;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 780px;
      margin-top: 140px;
      gap: 40px;

      .left {
        .sale {
          height: 100%;
        }
      }

      .right {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
      }
      //세일 텍스트 컴포넌트 영역
      .sale {
        @include justifyCenterTwo;
        flex-direction: column;
        padding-left: 50px;
        background-color: $grey-3;

        .title {
          font-size: 39px;
          line-height: 1.15;
          color: white;
        }

        .context {
          @include flexCenterTwo;
          margin-top: 43px;
          line-height: 1.19;
          color: rgba(255, 255, 255, 0.71);

          .percents {
            font-size: 40px;
            line-height: 1.15;
            color: white;
            margin-left: 8px;
            margin-right: 5px;
          }
        }

        .shop-btn {
          @include flexCenter;
          margin-top: 30px;
          width: 185px;
          height: 50px;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
  //new arrivals 영역
  .items-block {
    @include justifyCenterTwo;
    margin-top: 131px;
    width: 100%;

    .wrapper {
      @include maxWidth;

      .context {
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 39px;
          line-height: 1.15;
        }

        .view-all {
          font-weight: bold;
          line-height: 1.88;
          color: $greyblue;
          cursor: pointer;
        }
      }

      .items {
        margin-top: 51px;
        width: 100%;

        .item {
          display: grid;
          grid-template-columns: repeat(4, auto);
          gap: 40px;
          //new arrivals 네모 컨텐츠 영역
          .item-contents {
            .content {
              position: relative;
              padding-left: 20px;
              padding-top: 20px;
              height: 370px;
              background-color: $grey-4;
              cursor: pointer;
              //안에 요소 숨기기
              overflow: hidden;
              //new 뱃지
              .badge {
                @include flexCenter;
                width: 92px;
                height: 35px;
                background-color: black;
                font-size: 14px;
                color: white;
              }
              //마우스를 올리면 올라오는 애니메이션
              .options {
                @include flexColumn;
                width: 100%;
                height: 156px;
                background-color: white;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transition: bottom 0.3s ease;
                align-items: flex-end;
                padding: 26px 24px 27px 0;

                .lists {
                  display: flex;
                  align-items: inherit;
                  flex-direction: column;
                  color: $grey-2;
                  gap: 23px;

                  .list {
                    display: flex;
                    gap: 8px;
                    line-height: 1.19;
                    cursor: pointer;

                    .context {
                      align-items: center;
                    }
                  }
                }
              }

              .open-option {
                bottom: 0px;
              }

              .close-option {
                bottom: -156px;
              }
            }
            //박스상자 하단 컨텐츠 제목 가격 색상
            .bottom-context {
              @include flexBetween;
              position: relative;
              margin-top: 26px;

              .bottom-title {
                font-size: 20px;
                line-height: 1.15;
              }

              .bottom-price {
                line-height: 1.88;
                color: $grey-2;
              }
            }

            .bottom-detail {
              margin-top: 22px;
              color: $grey-2;
            }
          }
        }
      }
    }
  }
  //tophone 배너 시작
  .to-phone {
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    height: 370px;
    margin-top: 135px;
    background-color: $grey-4;

    .title {
      font-size: 39px;
      line-height: 1.15;
      color: white;
    }

    .context {
      margin-top: 46px;
      line-height: 1.88;
      color: white;
    }

    & > .btn {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 185px;
      height: 50px;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 1.14;
      cursor: pointer;
    }
  }
  //brands we love 영역 시작
  .brands {
    @include flexCenter;
    width: 100%;
    margin-top: 126px;

    .wrapper {
      @include maxWidth;

      .title {
        font-size: 39px;
        line-height: 1.15;
      }
      //텍스트 자식높이 값 지정
      .context {
        margin-top: 47px;
        width: 643px;
        height: 60px;
        line-height: 1.88;
        color: $grey-2;
      }

      .contents {
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 100%;
        margin-top: 45px;
        gap: 4px;

        .content {
          height: 320px;
          background-color: $grey-3;
          cursor: pointer;
        }
      }
    }
  }
  //journal 영역 시작
  .journal {
    .wrapper {
      padding-bottom: 104px;

      .context {
        @include flexBetween;

        .title {
          font-size: 39px;
          line-height: 1.15;
        }

        .view-all {
          line-height: 1.88;
          color: $greyblue;
          cursor: pointer;
        }
      }

      .contents {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 100%;
        margin-top: 51px;
        gap: 35.2px;

        .block {
          @include flexColumn;
          width: 100%;
          //자식 높이 값 지정
          .content {
            width: 100%;
            height: 401.6px;
            background-color: $grey-3;
            cursor: pointer;
          }

          .category {
            margin-top: 25.4px;
            font-size: 14px;
          }

          .title {
            margin-top: 21px;
            font-size: 25px;
            line-height: 1.44;
            color: black;
          }

          .context {
            margin-top: 10px;
            line-height: 1.88;
            color: $grey-2;
          }
        }
      }
    }
  }
}
