@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenterTwo {
  display: flex;
  align-items: center;
}

@mixin justifyCenterTwo {
  display: flex;
  justify-content: center;
}

@mixin maxWidth {
  width: 100%;
  max-width: 1600px;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

$black: #262626;
$white-1: #f5f5f3;
$grey-1: #6d6d6d;
$grey-2: #767676;
$grey-3: #c4c4c4;
$grey-4: #d8d8d8;
$greyblue: #69b2d3;
$red: #ff8686;
$dark-green: #7ed321;
$gray: #b6b6b6;
$green: #15cba5;
