@import "../styles//variables.scss";

.nav {
  @include flexCenter;
  @include defaultWidth;
  background-color: #fff;

  .navWrap {
    @include flexBetween;
    width: 1600px;
    height: 80px;

    .liWrap {
      .navMenu {
        @include flexCenter;
        width: 601px;
        color: gray;

        li:not(:last-of-type) {
          margin-right: 16px;
        }
      }
    }
  }

  .navLang {
    display: flex;

    li:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
