@import "../styles//variables.scss";

.nav {
  width: 100%;
  min-width: 900px;
  @include flexCenter;
  background-color: #fff;

  .navWrap {
    //1600 수정해야함
    width: 1600px;
    height: 80px;
    @include flexBetween;

    .liWrap {
      .navMenu {
        width: 601px;
        @include flexCenter;
        color: #a5a4a4;

        li:not(:last-of-type) {
          margin-right: 16px;
        }
      }
    }
  }

  .navLang {
    display: flex;

    li:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
