$white-1: #f5f5f3;
$grey-1: #6d6d6d;

#root {
    .footer {
        width: 100%;
        background-color: $white-1;
        display: flex;
        justify-content: center;

        &>.wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            width: 1600px;
            height: 374px;
            padding-top: 60px;
            padding-bottom: 55px;
            box-sizing: border-box;

            .left {
                position: absolute;
                left: 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-sizing: border-box;

                .menus {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    column-gap: 80px;

                    .contents {
                        .title {
                            font-size: 16px;
                        }
                    }

                    .footer-menus {
                        display: flex;
                        flex-direction: column;

                        .menus {
                            display: grid;
                            grid-template-columns: repeat(1, 1fr);
                            row-gap: 10px;
                            margin-top: 20px;
                            margin-bottom: 68px;
                        }
                    }
                }
            }

            .contacts {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                .number,
                .email {
                    line-height: 1.69;
                }

                .address {
                    margin-top: 25px;
                    font-size: 14px;
                    line-height: 1.64;
                    color: $grey-1;
                }
            }

            .right {
                position: absolute;
                right: 0px;
                height: calc(100% - 115px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}