@import "../../styles//variables.scss";

.search {
  width: 100%;
  min-width: 900px;
  @include flexCenter;
  background-color: #d8d8d8;

  .searchWrap {
    //1600 수정해야함
    width: 1600px;
    height: 100px;
    @include flexBetween;

    .categoryWrap {
      display: flex;

      .categoryIcon {
        width: 24px;
        height: 24px;
      }

      .categoryTxt {
        margin: 3px 0 5px 8px;
      }
    }

    .inputWrap {
      margin-right: 50px;

      .inputBox {
        position: relative;

        input {
          width: 600px;
          height: 50px;
          padding: 13px 16px;
          background-color: #fff;
        }

        .searchIcon {
          position: absolute;
          top: 13px;
          right: 16px;
        }
      }
    }

    .userInfo {
      .select {
        background-color: #d8d8d8;
      }

      .cartIcon {
        margin-left: 16px;
      }
    }
  }
}
