@import "../../style/variables.scss";

#root {
  .search {
    @include flexCenter;
    width: 100%;
    background-color: $white-1;

    .wrapper {
      @include flexCenter;
      position: relative;
      width: 1600px;
      height: 100px;

      .category {
        position: absolute;
        @include flexCenterTwo;
        left: 0px;
        gap: 8px;
        cursor: pointer;

        .category-icon img {
          width: 24px;
          height: 24px;
        }

        .context {
          font-size: 14px;
          line-height: 1.14;
        }
      }

      .search-input {
        position: relative;
        width: 601px;
        height: 50px;

        input {
          width: 100%;
          height: 100%;
          background-color: white;
          padding: 0 16px;
          box-sizing: border-box;
          border: 0px;
        }

        input::placeholder {
          font-size: 14px;
          color: $grey-3;
        }

        .search-icon {
          position: absolute;
          top: 16px;
          right: 13px;
          cursor: pointer;
        }
      }

      .my-page {
        display: flex;
        position: absolute;
        right: 0px;
        gap: 16px;

        .my-menus {
          display: flex;
          cursor: pointer;

          .my-settings {
            background-color: $white-1;
          }
        }

        .my-shop {
          cursor: pointer;
        }
      }
    }
  }
}
