@import "../../styles//variables.scss";

.search {
  @include flexCenter;
  width: 100%;
  min-width: 1200px;
  background-color: #f5f5f3;

  .searchWrap {
    @include flexBetween;
    width: 1600px;
    height: 100px;

    .categoryWrap {
      display: flex;

      .categoryIcon {
        width: 24px;
        height: 24px;
      }

      .categoryTxt {
        margin: 3px 0 5px 8px;
      }
    }

    .inputWrap {
      margin-right: 50px;

      .inputBox {
        position: relative;

        input {
          width: 600px;
          height: 50px;
          padding: 13px 16px;
          background-color: #fff;
        }

        .searchIcon {
          position: absolute;
          top: 13px;
          right: 16px;
        }
      }
    }

    .userInfo {
      .select {
        background-color: #f5f5f3;
      }

      .cartIcon {
        margin-left: 16px;
      }
    }
  }
}
