// color
$black: #262626;
$white-1: #f5f5f3;
$grey-1: #6d6d6d;
$grey-2: #767676;
$grey-3: #c4c4c4;
$grey-4: #f0f0f0;
$black-1 : #2b2b2b;

#root {
    .login {
        display: flex;
        justify-content: center;
        padding-top: 128px;
        padding-bottom: 140px;
        box-sizing: border-box;

        &>.wrapper {
            max-width: 1600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .top {
                width: 100%;
                &>.title {
                    font-size: 40px;
                }

                .bread-crumbs {
                    margin-top: 16px;
                    font-size: 12px;
                    color: $grey-1;
                }
                .subtitle {
                    margin-top: 133px;
                     width: 644px;
                     height: 60px;
                     line-height: 1.88;
                     color: $grey-2;
                }
                .underline {
                    margin-top: 57.5px;
                     width: 100%;
                     height: 1px;
                     background-color: $grey-4;
                }
            }

            .section {
                margin-top: 60.5px;

                &>.title {
                    font-size: 39px;
                    line-height: 1.15;
                }
                .login-input {
                    margin-top: 47px;
                    display: flex;
                    
                    .input-form {
                        margin-right: 40px;
                        width: 507px;
                        
                        .input-title {
                            line-height: 1.44;
                        }
                        .input {
                            // margin-top: 12px;
                            width: 100%;
                            height: 34px;
                            border-style: none;
                            border-bottom: solid 1px $grey-4;
                        }
                    }
                }
                .login-btn {
                    margin-top: 47px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    border: solid 1px $black-1;
                    font-size: 14px;
                    cursor: pointer;
                }
                .underline {
                    margin-top: 70px;
                    width: 100%;
                    height: 1px;
                    background-color: $grey-4;
                }
            }
            .sign-up {
                margin-top: 62px;
                display: flex;
                flex-direction: column;
                &>.title {
                    font-size: 39px;
                    line-height: 1.15;
                }
                .desc {
                    margin-top: 46px;
                    width: 644px;
                    height: 60px;
                    line-height: 1.88;
                    color: $grey-2;
                }
                .sign-up-btn {
                    margin-top: 63px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    background-color: black;
                    font-size: 14px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }   
}