// color
$black: #262626;
$white-1: #f5f5f3;
$grey-1: #6d6d6d;
$grey-2: #767676;
$grey-3: #c4c4c4;


#root {
    .journal {
        display: flex;
        justify-content: center;
        padding-top: 128px;
        padding-bottom: 140px;
        box-sizing: border-box;

        &>.wrapper {
            max-width: 1600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                .title {
                    font-size: 40px;
                }

                .bread-crumbs {
                    margin-top: 16px;
                    font-size: 12px;
                    color: $grey-1;
                }
            }

            .main {
                width: 100%;
                display: flex;
                column-gap: 42px;

                .contents {
                    max-width: 1056px;
                    margin-top: 137px;

                    .articles {
                        max-width: 1056px;
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        column-gap: 35px;
                        row-gap: 24px;

                        .card {
                            max-width: 508px;
                            cursor: pointer;

                        }

                        .card-img {
                            height: 402px;
                            background-color: $grey-3;
                        }

                        .category {
                            font-size: 13px;
                            margin-top: 25px;
                        }

                        .desc {
                            margin-top: 22px;

                            .title {
                                margin-top: 22px;
                                color: black;
                                font-size: 25px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }

                            .subtitle {
                                margin-top: 10px;
                                line-height: 1.8;
                                color: $grey-2;
                            }
                        }
                    }

                    .more-btn {
                        margin-top: 24px;
                        width: 200px;
                        height: 50px;
                        background-color: black;
                        font-size: 14px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .journal-inside {
                    max-width: 1056px;
                    width: 100%;
                    margin-top: 137px;

                    .img {
                        width: 100%;
                        height: 620px;
                        background-color: $grey-3;
                    }

                    .router {
                        margin-top: 57px;
                        font-size: 14px;
                    }

                    .desc {
                        margin-top: 45px;

                        .title {

                            font-size: 39px;
                            line-height: 1.15;
                        }

                        .context {
                            margin-top: 38px;
                            line-height: 1.88;
                            color: $grey-2;
                        }
                    }

                    .tags {
                        margin-top: 43px;
                        display: grid;
                        grid-template-columns: repeat(3, 92px);
                        column-gap: 20px;

                        .tag-btn {
                            width: 92px;
                            height: 35px;
                            background-color: black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            cursor: pointer;
                        }
                    }

                    .comments {
                        margin-top: 139px;

                        .title {
                            font-size: 39px;
                            line-height: 1.15;
                        }

                        .subtitle {
                            margin-top: 48px;
                            display: flex;
                            justify-content: space-between;

                            .person-name {
                                line-height: 1.19;
                            }

                            .date {
                                line-height: 1.88;
                                color: $grey-2;
                            }
                        }

                        .context {
                            margin-top: 20px;
                            line-height: 1.88;
                            color: $grey-2;
                        }

                        .reply {
                            margin-top: 16px;
                            line-height: 1.44;
                            cursor: pointer;
                        }
                    }

                    .reply-block {
                        margin-top: 126px;

                        .title {
                            font-size: 39px;
                            line-height: 1.15;
                        }

                        .guide {
                            margin-top: 48px;
                            line-height: 1.88;
                            color: $grey-2;
                        }

                        .input-boxes {
                            margin-top: 21px;
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                            row-gap: 26px;

                            .input-box {
                                display: flex;
                                flex-direction: column;

                                .title {
                                    line-height: 1.44;
                                }

                                &>input {
                                    margin-top: 13px;
                                    height: 30px;
                                    width: 60%;
                                    border-style: none;
                                    border-bottom: solid 1px #f0f0f0;
                                }
                            }

                        }

                        .border-line {
                            margin-top: 87px;
                            width: 60%;
                            border: solid 1px #f0f0f0;

                        }

                        .save-check {
                            margin-top: 29px;
                            display: flex;
                            align-items: center;
                            column-gap: 12px;

                            .check-box {
                                width: 11px;
                                height: 11px;
                                border: solid 1px #737373;
                                cursor: pointer;
                            }

                            .context {
                                line-height: 1.88;
                                color: $grey-2;
                            }
                        }

                        .submit-btn {
                            margin-top: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            height: 50px;
                            background-color: black;
                            color: white;
                            cursor: pointer;
                        }
                    }

                }

                .router {
                    margin-top: 137px;
                    max-width: 507px;
                    width: 100%;

                    .journal-input {
                        position: relative;
                        height: 33px;
                        display: flex;
                        align-items: center;

                        &>input {
                            width: 100%;
                            height: 100%;
                            border-style: none;
                            border-bottom: solid 1px #f0f0f0;

                        }

                        &>input::placeholder {
                            font-size: 14px;
                            color: $grey-2;
                        }

                        .search-icon {
                            position: absolute;
                            right: 0px;
                            cursor: pointer;
                        }
                    }

                    .recent-posts {
                        margin-top: 58px;

                        .title {
                            font-size: 19px;
                            line-height: 1.11;
                        }

                        .wrapper {
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                            row-gap: 16px;
                            margin-top: 44px;
                            width: 100%;

                            .recent-post {
                                &>div {
                                    width: 100%;
                                    row-gap: 16px;
                                    height: 43px;
                                    border-bottom: solid 1px #f0f0f0;
                                    margin-left: 15px;
                                    list-style: disc;
                                    font-size: 15px;
                                    line-height: 1.87;

                                    &>span {
                                        color: $grey-2;
                                    }
                                }

                            }
                        }
                    }

                    .archives {
                        margin-top: 36px;

                        .title {
                            font-size: 20px;
                            line-height: 1.15;
                        }

                        .archive {
                            margin-top: 42px;
                            width: 100%;
                            height: 44px;
                            border-bottom: solid 1px #f0f0f0;

                            &>li {
                                list-style-position: inside;
                                list-style-type: disc;
                                line-height: 1.88;
                            }
                        }
                    }

                    .categories {
                        margin-top: 103px;
                        width: 100%;

                        .title {
                            font-size: 20px;
                            line-height: 1.15;
                        }

                        .wrapper {
                            width: 100%;
                            margin-top: 45px;
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                            row-gap: 29.5px;


                            .category {
                                width: 100%;
                                width: 100%;
                                height: 41.5px;
                                line-height: 1.88;
                                border-bottom: solid 1px #f0f0f0;
                                list-style-position: inside;
                                list-style-type: disc;
                                line-height: 1.88;
                            }
                        }
                    }

                    .metas {
                        margin-top: 101.5px;
                        width: 100%;

                        .title {
                            font-size: 20px;
                            line-height: 1.15;
                        }

                        .wrapper {
                            width: 100%;
                            margin-top: 42px;
                            display: grid;
                            grid-template-columns: repeat(1, auto);
                            row-gap: 26.5px;

                            .meta {
                                width: 100%;
                                height: 34.5px;
                                border-bottom: solid 1px #f0f0f0;
                                line-height: 1.88;
                                list-style-type: disc;
                                list-style-position: inside;
                                
                            }
                        }
                    }

                    .tags {
                        margin-top: 55.5px;

                        .title {
                            font-size: 20px;
                            line-height: 1.15;
                        }

                        .tags-btns {
                            margin-top: 45px;
                            display: grid;
                            grid-template-columns: repeat(3, 92px);
                            column-gap: 20.5px;

                            .tag-btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 92px;
                                height: 35px;
                                background-color: black;
                                color: white;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }
    }
}